*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
   
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 200%;
}
.tbl-30{
    width: 30%;
    font-weight: bold;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color:#747d8c;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.btn-primary:hover{
    background-color:#2f3542;
}
.btn-secondary{
    background-color:black;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.btn-secondary:hover{
    background-color:#aaa69d;
}
.btn-danger{
    background-color:chocolate;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.btn-danger:hover{
    background-color:#ffa502;
}

.succes{
    color: #ff7f50;
}
.error{
    color:red 
}
.menu{
    border-bottom: 1px solid grey;
}
/* Css for menu*/

.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

/*Css for main Content*/
.main-content{
    
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* css for footer*/
.footer{
    background-color:#ff4757;
    color: white;
}

/* css for login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}